html {
  font-size: 10px; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #f9f9f9; }

.current {
  color: #28b8d8; }

.wrapper {
  width: 96%;
  max-width: 1200px;
  padding: 0 2%;
  margin: 0 auto; }

header {
  background: #8c8c8c;
  padding: 20px 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%; }
  header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header h1 {
    text-indent: -10000px;
    margin: 0;
    background: url(../images/logo.png) no-repeat center center;
    width: 140px;
    height: 50px; }
  header #navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  header #burger-nav {
    display: none; }
  header h2 {
    text-indent: -10000px;
    line-height: 0;
    margin: 0; }
  header ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  header li {
    margin-right: 20px;
    margin-top: 20px;
    text-align: center; }
  header a {
    color: #f5f5f5;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 100%; }
  header #main-nav li:last-child {
    border-right: 1px solid #3c3a42;
    padding-right: 20px; }

#main-banner {
  position: relative;
  min-width: 400px; }
  #main-banner img {
    width: 100%; }
  #main-banner #banner-overlay {
    position: absolute;
    top: 40%;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 1.2; }
  #main-banner h2 {
    font-size: 6rem;
    text-transform: uppercase; }
  #main-banner h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 5.5rem;
    text-transform: uppercase; }
  #main-banner p {
    font-family: 'Roboto Slab', serif;
    font-weight: 100; }

#services {
  background: #f9f9f9;
  width: 100%;
  padding-bottom: 80px; }
  #services h2.services.title {
    color: #444444;
    font-size: 3.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    text-align: center;
    padding: 60px 0 30px 0; }
  #services p.services.paragraph {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5rem; }
  #services .section-title-border {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    width: 500px;
    margin: 80px auto 30px auto;
    height: 3px; }
  #services h2.section-title {
    color: #444444;
    text-transform: uppercase;
    font-size: 2rem;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -45px;
    background: #f9f9f9; }
  #services ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  #services li {
    list-style-type: none;
    border: 1px solid #e3e3e3;
    padding: 2%;
    margin: 1%;
    width: 28%;
    text-align: center; }
    #services li img {
      width: 100%; }
    #services li h3 {
      font-family: 'Roboto Slab', serif;
      font-size: 1.8rem;
      color: #444444;
      padding-top: 4%; }
    #services li p {
      color: #676767;
      font-family: 'Roboto', sans-serif;
      padding-top: 2%;
      line-height: 1.5;
      font-size: 1.3rem; }

#latest-shots {
  background-color: #2c2c2c;
  padding-top: 20px;
  padding-bottom: 80px; }
  #latest-shots .section-title {
    color: #444444;
    text-transform: uppercase;
    font-size: 2rem;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -45px;
    background: #f9f9f9;
    color: #d5d5d5;
    background-color: #2c2c2c; }
  #latest-shots .section-title-border {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    width: 500px;
    margin: 80px auto 30px auto;
    height: 3px;
    border-color: #535353; }
  #latest-shots ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
  #latest-shots li {
    width: 22%;
    padding: 1.5%; }
    #latest-shots li img {
      width: 100%; }
  #latest-shots #instagram {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px; }
    #latest-shots #instagram a {
      text-decoration: none;
      color: #878787;
      border: 1px solid #878787;
      text-transform: uppercase;
      padding: 10px;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif; }
    #latest-shots #instagram i {
      margin-right: 2px; }

#journal {
  padding-bottom: 80px; }
  #journal .section-title-border {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    width: 500px;
    margin: 80px auto 30px auto;
    height: 3px; }
  #journal .section-title {
    color: #444444;
    text-transform: uppercase;
    font-size: 2rem;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -45px;
    background: #f9f9f9; }
  #journal ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  #journal li {
    border: 1px solid #e3e3e3;
    width: 32%;
    background-color: #fff; }
  #journal h3, #journal h5 {
    text-align: center; }
  #journal h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    padding-top: 20px;
    padding-bottom: 10px; }
  #journal h5 {
    color: #999999;
    font-size: 1.3rem;
    padding-bottom: 20px; }
  #journal img {
    width: 100%; }
  #journal div.description {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 30px; }
  #journal p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: #666;
    padding: 15px 0;
    font-weight: bold;
    line-height: 1.5; }
  #journal a {
    float: left;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #666;
    border-bottom: 1px solid #28b8d8;
    font-size: 1.2rem; }
  #journal span {
    float: right;
    color: #666;
    font-size: 1.2rem; }
    #journal span i {
      margin-right: 2px; }

#about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 80px; }
  #about .about-left, #about .about-right {
    width: 48%; }
  #about ul {
    list-style-type: none; }
  #about .about-left ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #about .about-left h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 10px;
    color: #666;
    width: 95%; }
  #about .about-left p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #666;
    width: 95%; }
  #about .about-left li:first-child {
    width: 35%; }
    #about .about-left li:first-child img {
      width: 90%; }
  #about .about-left li:nth-child(2) {
    width: 65%; }
  #about .about-right h3 {
    color: #444444;
    font-size: 2rem;
    padding-bottom: 10px; }
  #about .about-right p {
    padding-bottom: 10px;
    font-size: 1.5rem;
    color: #8b8b8b;
    line-height: 1.5; }
  #about .about-right li {
    padding-left: 60px; }
  #about .about-right li:first-child {
    background: url(../images/serv-icon-1.png) no-repeat -12px -12px; }
  #about .about-right li:nth-child(2) {
    background: url(../images/serv-icon-2.png) no-repeat -12px -12px; }
  #about .about-right li:nth-child(3) {
    background: url(../images/serv-icon-3.png) no-repeat -12px -12px; }
  #about .about-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px; }
  #about h2 {
    color: #444444;
    text-transform: uppercase;
    font-size: 2rem; }
  #about .about-border-right {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    width: 100px;
    height: 3px;
    margin-left: 10px;
    margin-top: 7px; }

footer {
  background-color: #373737;
  padding-top: 50px; }
  footer #copyright {
    background-color: #333;
    color: #cacaca;
    padding: 30px 0;
    font-size: 1.5rem; }
  footer #contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 40px; }
    footer #contact ul {
      list-style-type: none;
      width: 23%; }
    footer #contact h4 {
      color: #f0f0f0;
      font-size: 2rem;
      text-transform: uppercase; }
    footer #contact li {
      color: #c1c1c1;
      line-height: 1.5;
      font-size: 1.5rem;
      padding-bottom: 12px; }
    footer #contact #street, footer #contact #city, footer #contact #number, footer #contact #mail {
      padding-left: 25px; }
    footer #contact #street {
      background: url(../images/marker.png) no-repeat; }
    footer #contact #number {
      background: url(../images/telephone.png) no-repeat; }
    footer #contact #mail {
      background: url(../images/envelope.png) no-repeat; }
    footer #contact span {
      color: #929292;
      font-size: 1.3rem; }

@media screen and (max-width: 960px) {
  #banner-overlay h2 {
    font-size: 5rem; }
  #banner-overlay h3 {
    font-size: 4.5rem; }
  #services h2.services.title {
    font-size: 3rem; }
  #latest-shots ul {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #latest-shots li {
    width: 44%;
    padding: 3%; } }

@media screen and (max-width: 860px) {
  header {
    padding-top: 0;
    padding-bottom: 10px; }
    header .wrapper {
      display: block; }
    header h1 {
      margin: 0 auto; }
    header #navigation {
      width: 85%;
      padding-left: 7.5%;
      padding-right: 7.5%; }
    header li {
      margin-top: 10px; } }

@media screen and (max-width: 768px) {
  header {
    position: static; }
    header #navigation {
      display: block; }
    header #main-nav li:last-child {
      border: none;
      margin-right: 0;
      padding-right: 0; }
    header #social-nav {
      width: 20%;
      margin: 0 auto;
      padding-top: 10px; }
  #main-banner #banner-overlay {
    top: 30%; }
  #main-banner h2 {
    font-size: 4rem; }
  #main-banner h3 {
    font-size: 2.5rem; }
  #services h2.services.title {
    font-size: 2.2rem; }
  #services p.services.paragraph {
    font-size: 1.3rem;
    width: 80%;
    margin: 0 auto; }
  #services ul {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #services li {
    width: 70%;
    margin: 0 15% 10px 15%; }
  #journal ul {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #journal li {
    width: 70%;
    margin: 0 15% 10px 15%; }
  footer #contact {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer #contact ul {
      width: 46%;
      padding-bottom: 20px; } }

@media screen and (max-width: 480px) {
  header {
    padding-bottom: 0; }
    header .wrapper {
      padding: 0;
      width: 100%; }
    header #navigation {
      width: 100%;
      padding: 0; }
    header #main-nav ul {
      display: block; }
    header #main-nav li {
      width: 100%;
      margin: 0;
      padding: 2%; }
    header #main-nav, header aside {
      height: 0;
      overflow: hidden; }
    header #burger-nav {
      display: block;
      width: 100%;
      height: 20px;
      font-size: 2rem;
      background-color: #666;
      text-align: right; }
  #services li {
    width: 85%;
    margin: 0 7.5% 10px 7.5%; }
  #latest-shots li {
    width: 85%;
    padding: 3% 7.5% 3% 7.5%; }
  #journal li {
    width: 85%;
    margin: 0 7.5% 10px 7.5%; }
  #about {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #about .about-left, #about .about-right {
      width: 85%;
      padding: 3% 7.5% 3% 7.5%; }
  footer #contact ul {
    width: 85%;
    padding: 3% 7.5% 3% 7.5%; }
  footer #copyright {
    text-align: center; } }

.open {
  height: auto; }
