body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  background: #f9f9f9; }

.current {
  color: #28b8d8; }

.wrapper {
  width: 96%;
  max-width: 1200px;
  padding: 0 2%;
  margin: 0 auto; }

header {
  background: #8c8c8c;
  padding: 20px 0;
  opacity: 0.7; }
  header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header h1 {
    text-indent: -10000px;
    margin: 0;
    background: url(../images/logo.png) no-repeat center center;
    width: 140px;
    height: 50px; }
  header #navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  header h2 {
    text-indent: -10000px;
    line-height: 0;
    margin: 0; }
  header ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  header li {
    margin-right: 20px;
    margin-top: 20px; }
  header a {
    color: #f5f5f5;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase; }
  header #main-nav li:last-child {
    border-right: 1px solid #3c3a42;
    padding-right: 20px; }

#main-banner {
  position: relative; }
  #main-banner img {
    width: 100%; }
  #main-banner #banner-overlay {
    position: absolute;
    top: 35%;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 1.2; }
  #main-banner h2 {
    font-size: 4em;
    text-transform: uppercase; }
  #main-banner h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 4em;
    text-transform: uppercase; }
  #main-banner p {
    font-family: 'Roboto Slab', serif;
    font-weight: 100; }

#services {
  background: #f9f9f9;
  width: 100%; }
  #services h2.services.title {
    color: #444444;
    font-size: 2.5em;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    text-align: center;
    padding: 60px 0 30px 0; }
  #services p.services.paragraph {
    font-family: 'Roboto', sans-serif;
    text-align: center; }
