// Variables

// Mixins

@mixin indent {
  text-indent: -10000px;
  line-height: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  background: #f9f9f9;
}
.current {
  color: #28b8d8;
}
.wrapper {
  width: 96%;
  max-width: 1200px;
  padding: 0 2%;
  margin: 0 auto;
}

header {
  background: #8c8c8c;
  padding: 20px 0;
  opacity: 0.7;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    text-indent: -10000px;
    margin: 0;
    background: url(../images/logo.png) no-repeat center center;
    width: 140px;
    height: 50px;
  }

  #navigation {
    display: flex;
  }
   h2 {
    @include indent;
  }
  ul {
    display: flex;
    justify-content: space-around;
  }
  li {
    margin-right: 20px;
    margin-top: 20px;
  }
  a {
    color: #f5f5f5;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
  }
  #main-nav li:last-child {
    border-right: 1px solid #3c3a42;
    padding-right: 20px;
  }

}

#main-banner {
  position: relative;

  img {
    width: 100%;
  }

  #banner-overlay {
    position: absolute;
    top: 35%;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 1.2;
  }

  h2 {
    font-size: 4em;
    text-transform: uppercase;
  }
  h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 4em;
    text-transform: uppercase;
  }

  p {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
  }

}

#services {
  background: #f9f9f9;
  width: 100%;

  h2.services.title {
    color: #444444;
    font-size: 2.5em;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    text-align: center;
    padding: 60px 0 30px 0;
  }
  p.services.paragraph {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
}
