
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */